.container {
  max-width: 1540px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  h1 {
    color: #dd6b20;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
  }
  .foodContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
    div {
      p {
        font-weight: bold;
        color: #4a5568;
      }

      .foodFilters {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
          border: 1px solid #dd6b20;
          color: #dd6b20;

          &:hover {
            background-color: #dd6b20;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
