.container {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  @media (max-width: 1024px) {
    height: 40%; // Equivalent to lg:text-7xl
  }
  .main {
    position: relative;
    max-height: 500px;

    overflow: hidden;
    @media (max-width: 768px) {
      max-height: 400px;
    }
    @media (max-width: 1024px) {
      max-height: 400px;
    }

    .overlay {
      position: absolute;
      color: #fffbfb;
      width: 100%;
      height: 100%;
      max-height: 500px;
      background-color: rgba(0, 0, 0, 0.241);
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-left: 50px;

      h2 {
        font-size: 3rem; // Equivalent to text-4xl
        font-weight: bold; // Equivalent to font-bold
        margin: 0;

        @media (min-width: 640px) {
          font-size: 3rem; // Equivalent to sm:text-5xl
        }

        @media (min-width: 768px) {
          font-size: 3.75rem; // Equivalent to md:text-6xl
        }

        @media (min-width: 1024px) {
          font-size: 4.5rem; // Equivalent to lg:text-7xl
        }

        span {
          color: #ed8936;
        }
      }
    }
    .imageAnimation {
      width: 100%;
      height: 500px;
      background-image: url("../../assets/cover.png");
      background-size: cover;
      background-repeat: no-repeat;
      // background-position: center;
      animation: slide 25s steps(1) infinite;
    }
  }
}
@keyframes slide {
  0% {
    background-image: url("https://images.pexels.com/photos/15086642/pexels-photo-15086642/free-photo-of-set-of-sushi-and-sashimi-on-board.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: left;
  }
  20% {
    background-image: url("https://images.pexels.com/photos/7786562/pexels-photo-7786562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
  }
  40% {
    background-image: url("https://images.pexels.com/photos/2673353/pexels-photo-2673353.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: left;
  }
  60% {
    background-image: url("https://images.pexels.com/photos/14943653/pexels-photo-14943653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
  }
  80% {
    background-image: url("../../assets/cover.png");
    background-position: top left;
  }
  100% {
    background-image: url("../../assets/cover.png");
    background-position: top left;
  }
}
